.contact-list {
    gap: 20px;
    padding-top: 40px;
    .contact-container {
        outline: 1px solid grey;
        padding: 5px;
        gap: 10px;
        border-radius: 10px;
        background: lighten($color: $clr1, $amount: 15);
        box-shadow: rgba(128, 128, 128, 0.16) 0px 10px 36px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
        .contact-actions {
            padding-inline-end: 5px;
            button {
                border-radius: 4px;
                border: none;
                background-color: lighten($darkRed, 10);
                padding: 2px 4px;
            }
        }
    }
}
