.login-modal {
    gap: 20px;
    background: linear-gradient(315deg, #d3d3d3 0%, #7f8c8d 74%);
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    h3 {
        margin: 0;
        text-shadow: 0 0 5px $clr1;
    }
    form {
        gap: 20px;
        input {
            padding-inline-start: 0.5rem;
            border: none;
            &:focus {
                outline: 1px solid $darkBlue;
            }
        }
        button{
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            background-color: #7f8c8d;
            padding: 3px 6px;
            border: none;
            transition: background-color 0.2s;
            &:hover{
                background-color: #5f6969;
            }
        }
    }
    .close-modal {
        cursor: pointer;
        background-color: $darkRed;
        border-radius: 50%;
        font-size: 0.8rem;
        width: 20px;
        height: 20px;
    }
    small{
        color: $clr1;
        font-size: 0.7rem;
    }
}
