.user-msg {
    position: fixed;
    bottom: -20px;
    right: 10px;
    background-color: $clr1;
    padding: 10px;
    &.open {
      bottom: 10px;
      transition: bottom 0.5s;
    }
    &.success{
        background-color: lightgreen;
    }
    &.danger{
        background-color: pink;
    }
}